.services{
    margin-top: 90px;
    margin-bottom: 50px;
    gap: 100px;
}

.first-service, .second-service, .third-service{
    text-align: center;
}


h3{
    font-size: 12px;
    margin-top: 20px;
}
p{
    font-size: 10px;
}

@media (max-width: 500px) {
    .services{
        gap: 20px;
    }
}