
.showgrid{
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* gap: 20px; */
}
.content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

}
.con::-webkit-scrollbar{
  display: none;
}

@media (max-width: 1222px) {
.content{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}

@media (max-width: 975px) {
.content{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}

@media (max-width: 734px) {
.content{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}
@media (max-width: 512px) {
  .content{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}