.product-name, .product-image, .product-price, .product-category{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add-product{
    background-color: #DB4444;
    border: none;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
}

form{
}