.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .img-one{
   width: 40vw;
   object-fit: cover;
}

.second-contain{
    width: 40vw;
}
.third-contain{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
.img-two{
  width: 100%;
  object-fit: cover;
}
.img-three{
    width: 18vw;
    object-fit: cover;
}
.img-four{
    width: 18vw;
}


@media (max-width: 1200px) {
 .contain{
    gap: 20px;
 }
} 


